<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wo1fFileSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wo1fFileSearch.Properties.Settings>
            <setting name="CapsSensetive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchStr" serializeAs="String">
                <value />
            </setting>
            <setting name="Async" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Contents" serializeAs="String">
                <value>True</value>
            </setting>
        </Wo1fFileSearch.Properties.Settings>
    </userSettings>
</configuration>